.competition__section{
	padding: 60px 0 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1c2237;
}

.competition__container-card{
	background: #ffae00;
	box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
	width: 300px;
	height: 600px;
	text-decoration: none;
	border-radius: 4px;
}

.competition__container-card:nth-child(2){
	transform: scale(1.05);
	background: #6b2605;
	margin: 0.24px;
}

.competition__container-card:hover{
	transform: scale(1.06);
	transition: all 0.3s fade out;
	color: #1c2237;
}

.competition__container{
	display: flex;
	justify-content: center;
	align-content: center;
}

.competition__wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.competition__heading{
	color: #ffd700;
	margin-bottom: 24px;
	text-align: center;
}

.competition__container-cardInfo{
	display: flex;
	flex-direction: column;
	height: 500px;
	padding: 24px;
	align-items: center;
	color: #fff;
}

.competition__container-cardInfo h3{
	margin-bottom: 5px;
	font-size: 24px;
}

.competition__container-cardInfo h4{
	font-size: 40px;
}

.competition__container-cardInfo h5{
	text-align: center;
	margin-bottom: 10px;
}

.competition__container-cardInfo h7{
	text-align: center;
}

.competition__container-cardInfo p{
	font-size: 16px;
	margin-bottom: 24px;
	text-align:center;
}

span{
	font-weight: bold;
	color: red;
}


.icon{
	margin:24px 0;
}


.competition__register-button{
	padding: 12px 64px;
	border-radius: 4px;
	outline: none;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	background: #fff;
	color: #000;
	font-weight: 600;
	bottom: 20px;
	left: 90px;
	width: 100%;
}

.competition__register-button:hover{
	background: #ffd700;
}




@media screen and (max-width: 960px){
.competition__container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.competition__continer-card{
	width: 90%;
}

.competition__wrapper{
	margin:0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.competition__container-card:nth-child(2){
	transform: scale(1);
	background: #242424;
	margin: 24px;
}

.competition__container-card:hover{
	transform: none;
}

}